[build]
  command = "npm run build"
  publish = "dist"
  base = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production]
  environment = { VITE_API_URL = "https://your-api.com/api" }

[context.deploy-preview]
  environment = { VITE_API_URL = "http://localhost:3000/api" }

[context.branch-deploy]
  environment = { VITE_API_URL = "http://localhost:3000/api" }
